/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/styles/intro.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.intro-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  align-items: center;
}

.intro-card {
  padding: 24px;
  overflow: hidden;
}

.intro-image {
  width: 100%;
  height: 380px;
  border-radius: 18px;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.button-row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .intro-page {
    grid-template-columns: 1fr;
  }

  .intro-image {
    height: 300px;
  }
}
